// .ant-picker-panel {
//   text-align: left !important;
// }

// .ant-picker-calendar-date-value {
//   text-align: left !important;
// }

.ant-layout-sider {
  flex: 0 !important;
  min-width: 150px !important;
  max-width: 150px !important;
}

.ant-layout-sider-collapsed {
  min-width: 80px !important;
  max-width: 80px !important;
}
