.gusts-item-description-text {
  padding-left: 1rem;
  color: #999999;
  font-size: 0.6rem;
}

.success-button {
  background-color: #52c41a;
  border: #52c41a;

  &:hover,
  &:focus,
  &:active {
    background-color: #73d13d;
    border: #73d13d;
  }
}


