@import "./date.scss";

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.ant-layout-sider {
  flex: 0 !important;
  min-width: 150px !important;
  max-width: 150px !important;
}

.ant-layout-sider-collapsed {
  min-width: 80px !important;
  max-width: 80px !important;
}

.nav-sider-toggle-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 0;
  color: #fff;

  &:hover,
  &:focus,
  &:active {
    border: #fff !important;
  }
}
