$side-width: 80px;
$side-height: 52px;

.header {
  display: flex;
  justify-content: right;
  height: $side-height !important;
  align-items: center;
  padding-right: 20px;

  h1 {
    margin: 0;
    color: #fff;
  }
}

.sider {
  overflow: auto;
  min-height: 100vh;
  left: 0;
  z-index: 999;

  ul {
    margin-top: -4px;
  }

  .side-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $side-height !important;
    width: 100%;
    background: rgba(255, 255, 255, 0.1) !important;
    border: 0;
    color: #fff !important;

    &:hover {
      color: #fff !important;
    }
  }
}

.footer {
  padding: 0.5rem 0 !important;
  text-align: center;
}

.layout-content {
  overflow-y: scroll;
  height: 90vh;
  // padding: 1rem;
  background-color: #fff;

  .main-content {
    padding: 1rem;
    min-height: 100%;
  }
}
