$antd-layout-header-height: 64px;
$antd-layout-footer-height: 48px;

/* layout */
.ant-layout {
  background: #001529 !important;

  .ant-layout-header {
    background: #002140;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .ant-layout-footer {
    align-items: center;
    background-color: #001529;
    color: #f0f2f5;
    display: flex;
    height: $antd-layout-footer-height;
    justify-content: center;
  }

  .ant-layout-sider {
    position: sticky;
    top: 0;

    .ant-layout-sider-trigger {
      height: $antd-layout-footer-height;
    }

    .ant-layout-sider-children {

      .ant-menu {

        .ant-menu-item {
          margin-bottom: 0;
          margin-top: 0;
        }
      }
    }
  }

  .ant-layout-content {

    .true-content {
      min-height: calc(
        100vh - $antd-layout-header-height - $antd-layout-footer-height
      );
      padding: 20px 20px 0;
    }
  }
}

/* typography */

.code-block-wrap {
  position: relative;

  .ant-typography {
    
    .ant-typography-copy {
      position: absolute;
      right: 10px !important;
      top: 10px !important;
    }
  }
}

// results
.ant-result-extra > * {
  margin-right: 0 !important;
}
